<div style="width: 381px;
height: 369px;
border: 1px solid #9A9A9A;
border-radius: 12px;">
  <div style="
  margin: 0 15px;">

    <div >
      <p style="font-size: 20px; font-weight: bold; color: #2E2E2E;"> {{title}}</p>
      <h2 style="color: #525252; font-size: 16px;">{{subtitle}}</h2>
    </div>
    
    <img src="{{image}}" alt="">

    <div style="align-items: center; justify-content: center; width: 100%; display: flex; margin-top: 26px;">
      <button style="background-color: #205171; color: #FFFFFF; width: 126px; height: 42px; border-radius: 20px; font-weight:bold ;" (click)="onReservar()">
        Reservar
      </button>
    </div>
  </div>
</div>