.div-button{
  align-items: center; 
  justify-content: center; 
  width: 100%; 
  display: flex; 
  margin-top: 26px;
}

.button {
  background-color: #205171; 
  color: #FFFFFF; 
  width: 126px; 
  height: 42px; 
  border-radius: 20px;
  border: 1px solid #205171;
  font-weight:bold ;
  box-shadow: rgba(0, 0, 0, 0.245) 1.95px 1.95px 2.6px;
  font-family: Roboto;
}

.subtitle{
  color: #525252; 
  font-size: 16px; 
  font-family: Roboto
}

.title {
  font-size: 20px; 
  font-weight: bold; 
  color: #2E2E2E; 
  font-family: Roboto
}

.card {
  width: 381px;
  height: 369px;
  border: 1px solid rgb(255, 255, 255);
  border-radius: 12px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.top {
  margin: 0 15px;
}
