.title {
  color: #205171;
  font-size: 24px;
  font-weight: bold;
  font-family: Roboto;
}

.subtitle {
  color: #525252;
  font-size: 14px;
  font-family: Roboto;
}

.cards {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 37px;
}
.title {
  color: #205171;
  font-size: 24px;
  font-weight: bold;
  font-family: Roboto;
}

.subtitle {
  color: #525252;
  font-size: 14px;
  font-family: Roboto;
}

.cards {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 37px;
}

.menu-below {
  width: 800px; 
  height: 223px; 
  border-radius:12px;
  margin-top: 75px; 
  display: block;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border: 1px solid  linear-gradient(to top, #FFF, rgb(102, 187, 106));
}

.menu-upper {
   border-top-right-radius: 12px; 
   border-top-left-radius: 12px;
}

.menu-upper-content {
  width: 100%; 
  height: 122px; 
  color: #FBFBFB; 
  font-size: 57px; 
  font-weight: bold; 
  align-items: center; 
  justify-content: center; 
  display: flex;
}

.menu-under {
  display: flex;
  justify-content: space-between;
  padding: 0px 25px;
}

.subtitle-menu {
  color: #525252;
  font-size: 16px;
  font-family: Roboto;
}

.title-menu {
  font-size: 24px;
  font-weight: bold;
  color: #2e2e2e;
  font-family: Roboto;
}

.h3 {
  padding-top: 0px;
}

.button {
  background-color: #205171;
  color: #ffffff;
  width: 126px;
  height: 42px;
  font-size: 16px;
  border-radius: 20px;
  font-family: Roboto;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

.title-reserv {
  color: #205171;
  font-family: Roboto;
  font-size: 24px;
  font-weight: bold;
}

.option-container {
  padding: 10px;
  display: flex;
  flex-direction: column;
}

.menu-below {
  width: 800px;
  height: 223px;
  border-radius: 12px;
  border: 1px solid linear-gradient(to top, #FFF, rgb(102, 187, 106));
  margin-top: 75px;
  display: block;
}

.menu-upper-available {
  border-top-right-radius: 12px;
  border-top-left-radius: 12px;
  background-color: #66bb6a;
}

.menu-upper-reserved {
  border-top-right-radius: 12px;
  border-top-left-radius: 12px;
  background-color: #f44336;
}

.menu-upper-content {
  width: 100%;
  height: 122px;
  color: #fbfbfb;
  font-size: 57px;
  font-weight: bold;
  align-items: center;
  justify-content: center;
  display: flex;
  font-family: Roboto;
}

.menu-under {
  display: flex;
  justify-content: space-between;
  padding: 0px 25px;
}

.h3 {
  padding-top: 0px;
}

.button {
  background-color: #205171;
  color: #ffffff;
  width: 126px;
  height: 42px;
  font-size: 16px;
  border: 1px solid #205171;
  border-radius: 20px; 
  font-family: Roboto;
  transition: background 0.3s ease;
}

.button:hover {
  cursor: pointer;
  background:#2a72a2 ;
  border: 1px solid #2a72a2;
}

.title-reserv {
  color: #205171;
  font-family: Roboto;
  font-size: 24px;
  font-weight: bold;
}

.option-container {
  padding: 10px;
  display: flex;
  flex-direction: column;
}

.ContainerCheckbox {
  display: grid;
}

.ContainerCheckbox .titleCheckbox{
  display: flex;
  align-items: center;
  gap: 30px;
}

.ContainerCheckbox .box {
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: 329px;
  gap: 10px;
  overflow-y: auto;
  margin-top: 20px;
  border-top: 2px  solid #00000025;
  border-bottom: transparent;
  border-left: transparent;
  border-right: transparent;
}

.ContainerCheckbox .legend {
  font-size: larger;
  font-weight: bold;
  text-align: center;
  padding:  15px 5px;
}

.ContainerCheckbox .inputOptions{
  background: #FFF;
  padding: 10px;
  height: 20px;
  border: 1px solid #00000025;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  transition: background 0.3s ease;
}

.ContainerCheckbox .inputOptions:hover {
  cursor: pointer;
  background:#0000001c ;
}
