<div class="option-container">
  <div *ngIf="!display">
    <p class="title">Agendamento de Sala</p>
  </div>
  <div class="cards" *ngIf="!display">
    <app-card
      [title]="'Reservar para agora'"
      [subtitle]="'Reserva instantânea, marque e use.'"
      [image]="'../../assets/reservarAgora.svg'"
      [display]="display"
    ></app-card>
    <app-card
      [title]="'Reservar para depois'"
      [subtitle]="'Agende sua reserva com antecedência.'"
      [image]="'../../assets/reservarDepois.svg'"
      [display]="display"
    ></app-card>
  </div>

  <div class="ContainerCheckbox" id="ContainerCheckbox" *ngIf="display">
    <div class="titleCheckbox">
        <button class="button" (click)="onClick()">VOLTAR</button>
      <h1 class="title-reserv">Reservar agora</h1>
    </div>
    <div style="padding: 10px">
      <fieldset class="box">
        <legend class="legend">Sala Tambaqui</legend>
        <div class="inputOptions" id="Options" >
          {{selectedHours}}
        </div>
      </fieldset>
    </div>
  </div>

  <div class="menu-below">
    <div
      class="menu-upper"
      [ngClass]="{
        'menu-upper-available': status == 'LIVRE',
        'menu-upper-reserved': status == 'RESERVADO'
      }"
    >
      <div class="menu-upper-content">
        {{ status }}
      </div>
    </div>

    <div class="menu-under">
      <div>
        <h2 class="title-menu">{{ currentTime }}</h2>
        <h3 class="subtitle-menu">
          {{ currentDate }}
        </h3>
      </div>
      <div>
        <h2 class="title-menu">Próxima reserva:</h2>
        <h3 class="subtitle-menu">
          {{ nextSchedule }}
        </h3>
      </div>
    </div>
  </div>
</div>
