<div class="mb-3">
    <div class="Select">
        <select class="form-select form-select-lg" class="selectRooms">
          <option disabled selected >Selecionar Sala</option>
            <option *ngFor="let item of rooms">{{item}}</option>
        </select>
      <div class="calendar">
        <div>
          <label id="DayoftheWeek"></label>
        </div>
        <div class="optionDays">
          <button id="reduceDay"> < </button>
          <label id="Day"></label>
          <button id="addDay"> > </button>
        </div>
        <div class="optionMonths">
          <button id="reduceMonth"> < </button>
          <label id="month"></label>
          <button id="addMonth"> > </button>
        </div>
      </div>
    </div>
    <div class="container">
        <div id="reservation" class="reservation" *ngFor="let item of reservations; let idx = index">
            <div class="StyledReserved" id={{idx}}><p id={{idx}}></p></div>
        </div>
        <div class="styledSelector" id="styledSelector">
          <div class="circleOfHours" id="circleOfHours"></div>
          <div class="selectorOfHours" id="selectorOfHours"></div>
        </div>
        <div class="StyledBoxHours">
          <div class="hours">8</div>
          <div class="hours">9</div>
          <div class="hours">10</div>
          <div class="hours">11</div>
          <div class="hours">12</div>
          <div class="hours">13</div>
          <div class="hours">14</div>
          <div class="hours">15</div>
          <div class="hours">16</div>
          <div class="hours">17</div>
          <div class="hours">18</div>
        </div>
    </div>
  </div>
